body {
	background-image: url("../images/bg.jpg");
}

div.title {
	background-color: #3F3A3A;
	width: 60%;
	margin-left: 260px;
}
#titre {
	color: #07A7B9;
	font-size: 45px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

div.menu {
	font-weight: bold;
	background-color: #3F3A3A;
	width: 85%;
	padding-bottom: 0px;
	margin-left: 100px;
	margin-bottom: 20px;
}
nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	margin-left: 350px;
}
nav li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100px;
	height: 40px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	text-align: center;
	line-height: 40px;
}
nav li a {
	font-size: 25px;
	display: block;
	text-decoration: none;
	color: #146BC7;
}
nav li :hover {
	background-color: #3388BB;
}

hr {
	border-style: solid;
}


div.corps {
	background-color: #3F3A3A;
	width: 85%;
	margin-left: 100px;
	font-family: Avantgarde, sans-serif;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 5px;
	color: white;
}